@import '~@angular/material/core/theming/all-theme';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-orange, 700);
$accent:  mat-palette($mat-grey, 800, A100, A400);

$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

.leaflet-tooltip img {
  width: 14px;
  height: 14px;
}
.leaflet-tooltip .title {
  font-size: 12px;
  text-align: center;
}
.leaflet-tooltip {
  font-size: 10px;
  text-align: left;
  vertical-align: text-top;
}
.leaflet-tooltip .tooltip-row {
  display: flex;
}

td-search-box .mat-input-wrapper{
  padding-bottom: 0;
}
