<td-layout-nav toolbarTitle="Reviws" icon="star_rate">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <div fxFlex></div>
    <div fxFlex="25">
      <span>Traveled with: </span>
      <md-select placeholder="Traveled with" [(ngModel)]="traveledWithFilter" (change)="filterReviews()">
        <md-option [value]="">All</md-option>
        <md-option *ngFor="let tr of traveledWith" [value]="tr">
          {{ tr }}
        </md-option>
      </md-select>
    </div>

    <div fxFlex="25">
      <span>Sort reviews by:</span>
      <md-select placeholder="Sort by" [(ngModel)]="sortBy" (change)="filterReviews()">
        <md-option [value]="'travelDate'">Traveled date</md-option>
        <md-option [value]="'entryDate'">Review date</md-option>
      </md-select>
    </div>

    <div fxFlex="20">
      <md-checkbox [(ngModel)]="showZeroRating">Show ranking with 0</md-checkbox>
    </div>
    <div fxFlex></div>
  </div>

  <td-layout-card-over cardTitle="Accommodataion review" cardWidth="90">
    <md-card>
      <md-card-title>Rating<span *ngIf="traveledWithFilter"> calculated by traveled with <b>{{traveledWithFilter}}</b></span></md-card-title>
      <md-card-subtitle>
        General <md-chip color="primary" selected>{{generalRatingFloor(generalRating)}}</md-chip>
      </md-card-subtitle>
      <md-card-subtitle>Aspects</md-card-subtitle>
      <md-card-content>
        <aspects-rating [ranking]="aspectsRating"></aspects-rating>
      </md-card-content>
    </md-card>

    <section *ngFor="let reviewChunk of reviews | chunk:3" fxLayoutGap="10px" fxLayoutAlign="space-around start" fxLayout="row" [@reviews]>
      <md-card fxFlex="33" *ngFor="let review of reviewChunk">
        <md-card-title>{{review.user}}</md-card-title>
        <md-card-subtitle *ngIf="review.title">
          <span>{{review.title}}</span>
        </md-card-subtitle>
        <md-card-subtitle>
          <span>Traveled with: {{review.traveledWith}}</span>
        </md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <p>{{review.text}}</p>
        </md-card-content>
        <md-card-subtitle fxLayout="row">
          <span>Review date: {{review.entryDate | date}}</span>
          <span fxFlex></span>
          <span>Traveled date: {{review.travelDate | date}}</span>
        </md-card-subtitle>
        <md-divider></md-divider>
        <md-card-subtitle *ngIf="review.ranking">General
            <md-chip color="primary" selected>{{review.ranking.general}}</md-chip>
        </md-card-subtitle>
        <md-card-subtitle *ngIf="review.ranking">Aspects</md-card-subtitle>
        <md-card-content *ngIf="review.ranking">
          <aspects-rating [ranking]="review.ranking.aspects" [showZero]="showZeroRating"></aspects-rating>
        </md-card-content>
        <md-divider></md-divider>
      </md-card>
    </section>

    <section fxLayout="row">
      <span flex></span>
      <button md-raised-button color="accent" (click)="loadMoreReviews()">
        <md-icon>expand_more</md-icon>
        Load more reviews
      </button>
    </section>
    <router-outlet></router-outlet>
  </td-layout-card-over>
</td-layout-nav>
